<div class="logIn">
        <form action="">
            <div class="top-border"></div>
            <div class="inputs">
                <img src="assets/images/user.png" alt="">
                <input type="text"placeholder="FIRSTNAME">
            </div>
            <div class="inputs">
                <img src="assets/images/user.png" alt="">
                <input type="text" placeholder="LASTNAME">
            </div>
            <div class="inputs">
                <img src="assets/images/user.png" alt="">
                <input type="text" placeholder="LASTNAME">
            </div>
            <div class="inputs">
                <img src="assets/images/user.png" alt="">
                <input type="email" placeholder="EMAIL">
            </div>
            <div class="inputs">
                <img src="assets/images/user.png" alt="">
                <input type="number" placeholder="CONTACT#">
            </div>
            <div class="inputs">
                <img src="assets/images/user.png" alt="">
                <input type="password" placeholder="PASSWORD">
            </div>
            <input type="button" value="SIGN UP" class="btn" id="green">
        </form>
    <hr>
    <form action="">
        <div class="top-border"></div>
        <div class="inputs">
            <img src="assets/images/user.png" alt="">
            <input type="text" placeholder="EMAIL/CONTACT #">
        </div>
        <div class="inputs">
            <img src="assets/images/user.png" alt="">
            <input type="password" placeholder="PASSWORD">
        </div>
        <a href="">Forget password?</a>
        <input type="button" value="LOG IN" class="btn" id="blue">
    </form>
</div>