.logo {
    display: inline-block;
    width: 35rem;
    height: auto;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
}
img {
    width: 20rem;
    height: 10rem;
}
h3 {
    margin-top: 0;
    width: 18rem;
    margin-left: 4%;
}